* {
    font-family: Merriweather;
  }
  

.about-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #F1FAFE;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.about-us-cover {
    height: 205px;
    width: 100%;

    position: relative;
    background-image: url(https://images.unsplash.com/photo-1557683316-973673baf926?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-us-cover>.text {


    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    font-weight: bold;
    color: white;
    text-align: center;
}

.about-us-story {
    height: 405px;
    width: 100%;

    position: relative;
    background-image: url(https://images.unsplash.com/photo-1557683316-973673baf926?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-us-story>.tagline {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    font-weight: bold;
    color: white;
    text-align: center;
}

.about-header h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.about-content {
    margin-top: 20px;
}

.heading-3{
    color: #333;
    margin-top: 15px;
    font-size: large;
}

ul {
    list-style-type: disc;
    margin-bottom: 15px;
    margin-left: 20px;
}

.about-images img {
    margin-right: 10px;
    margin-bottom: 10px;
    
}

.team-images {
    width: auto;
    height: auto;
    flex-direction: wrap;
}

.team-images img {
    padding: 20px;
    width: 120px;
    height: 120px;
    border-radius: 10px;

}

.team-images p {
    width: 150px;
    padding-left: 20px;
    padding-left: 20px;
}

.team-images-container {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    column-gap: 10px;
}

.benefits-to-parents {
    max-width: 100%;
    padding: 20px;
    background-color: #F1FAFE;
}

.about-contact {
    height: 205px;
    width: 100%;

    position: relative;
    background-image: url(https://images.unsplash.com/photo-1557683316-973673baf926?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.contact-heading {


    width: 50%;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    font-weight: bold;
    color: white;
    text-align: center;
}

.contact-paragraph{
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    font-weight: bold;
    color: white;
    text-align: center;
}

.ourstory-heading {


    width: 50%;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    font-weight: bold;
    color: white;
    text-align: center;
}

.ourstory-paragraph{
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    font-weight: bold;
    color: white;
    text-align: center;
}