/* .App {
  text-align: center;
} */

.navbar{
  display: flex;
  align-items: center;
  gap: 88px;
  align-self: stretch;
  padding: 40px 120px;
  height:61px ;
  text-decoration: none; 
  color: inherit; 
  cursor: pointer; 
}

.links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 88px;
  align-self: stretch;
  text-decoration: none; /* Remove underlines */
  color: inherit; /* Inherit the text color from the parent */
  padding-left: 40px;
}

.logo{
  color: #00A8A2;
  font-family: Lexend Mega;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sidebar{
  display: flex;
  /* flex-direction: column; */
  gap: 30px;
  align-self: stretch;
  text-decoration: none; /* Remove underlines */
  color: inherit; /* Inherit the text color from the parent */
  margin-left: 24px;
}

.sidebar link{
  text-decoration: none;
}

.sides{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-self: stretch;
  text-decoration: none; /* Remove underlines */
  color: inherit; /* Inherit the text color from the parent */
  margin-left: 24px;
}

.contents{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #bdd6e0; 
  width: 1145px;
  height: 725px;
  border-radius: 5px;
  flex-shrink: 0;
  justify-content: space-around;
}

.uno{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: auto;
  /* background: #00A8A2; */
}

.teacherContents{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  background: #bdd6e0; 
  width: 1145px;
  height: 425px;
  border-radius: 5px;
  flex-shrink: 0;
  /* justify-content: space-around; */
}

.top{
  display: flex;
  justify-content: space-around;
}

.teachersTop{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
}

.data{
  background: white;
  border-radius: 5px;
  margin-top: 5%;
  padding: 40px;
  align-items: flex-start;
}

.graphs{
  width: 700px;
  padding-top: 10%;
  padding-left: 20%;
}

.footer{
  width: 100%;
  height: 148px;
  flex-shrink: 0;
  /* border-radius: 25px; */
  background: #45A5A1;
}

.navbar{
  
}