.courses-page {
  display: flex;
  flex-direction: row;
  padding: 8vh 0;
  width: 100%;
  margin: auto;
  background-color: #F1FAFE;
}

.courses {
  display: flex;
  flex-direction: column;
  /* row-gap: 30px; */
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
}

.lms-course-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}

.course-collection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.courselist-cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  border: 1px solid lightgray;
  border-radius: 14px;
  background-color: white;
  flex-direction: column;
  padding: 15px;
  width: 300px;
  height: 300px;
  align-items: center;
  justify-content: space-between;
  background-image: url(https://images.unsplash.com/photo-1523961131990-5ea7c61b2107?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.courselist-cards>.course-image {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.courselist-cards img {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 8px;
  align-self: center;
}

.courselist-cards h4,
h3 {
  font-size: small;
  color: white;
  padding: 2px;
  /* border: none; */
}

.courselist-cards p {
  color: white;
  font-size: smaller;
  border: none;
}

.view-course-btns {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  width: 100%;
  justify-content: space-between;
 
}

.courseButton {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  border: 2px;
  color: white;
  background-color: #6092a5;
  border-radius: 10px;
  font-family: 'Arial', sans-serif;
}

.courseButton:hover {
  background-color:white;
  color:#6092a5;
}