.courses-page {
  display: flex;
  flex-direction: row;
  padding: 8vh 0;
  width: 100%;
  margin: auto;
}

.courses {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
}

.lms-course-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}

.course-collection {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.courselist-cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  border: 1px solid lightgray;
  border-radius: 14px;
  background-color: white;
  flex-direction: column;
  padding: 15px;
  width: 300px;
  align-items: center;
  justify-content: space-between;
}

.courselist-cards>.course-image {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.courselist-cards img {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 8px;
  align-self: center;
}

.courselist-cards h4,
h3 {
  font-size: small;
  color: #004b49;
  padding: 2px;
  /* border: none; */
}

.courselist-cards p {
  background-color: white;
  color: maroon;
  font-size: smaller;
  border: none;
}

.view-course-btns {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  width: 100%;
  justify-content: space-between;
}

.courseButton {
  border-radius: 4px;
  border: solid 1px;
  padding: 4px;
  font-size: small;
  cursor: pointer;
}