/* Martin/StudentList.css */

.indiv-student {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: aquamarine;

    h2 {
        font-size: 3em;
        color: aquamarine;
        margin-bottom: 10px; /* Add margin-bottom */
    }

    .student-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .student-avator {
        background-color: blueviolet;
        border-radius: 4px; /* Fix typo: 'radius' to 'radius' */
        padding: 20px 30px;
        height: 300px;
        width: 200px;
        column-gap: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;

        img {
            height: 5vh;
            width: 5vw;
            border-radius: 50%;
        }
    }
}

.parent-details {
    margin-top: 20px;
    /* Add styling specific to parent details if needed */
}

.assignment-details {
    margin-top: 20px;
    /* Add styling specific to assignment details if needed */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

input {
    width: 300px;
    padding: 8px;
    margin-bottom: 20px;
}
