.course-cont {
  background-image: url(https://images.unsplash.com/photo-1512736912-cd9db1d90b72?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: bottom;
  height: 36vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  }
.course-header{
  margin-bottom: 100px;
  text-align: center;
  color: white;
  font-size: 40px;
 }
 #courses-img{
  max-width: 100%; 

 }
 .course-list {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly;
  padding: 70px;
  gap: 30px;
}

.course-list > div {
  width: 30%; 
  margin: 10px; 
}
.course-card-content{
  background: #ddded8;
  color: black;
}
.courses-btn{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
