.teacher-dash{
  background: #e9ebed;
  border-radius: 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
  width: 100%;
}
.teacher-dash h2{
  color: black;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.teacher-dash span{
  color: #ed9349;
}
.teacher-icon{
  font-size: 45px;
}
.teacher-card{
  display: block;
  background: white;
  border: 3px solid#ed9349;

  width: 600px;
  padding:  30px 20px;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;
  }
  .teacher-card:hover{
    background: #f7750a;
  }
.teacher-card-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.dash-list{
  display: flex;
  align-items: flex-start;
  padding: 20px;
  border: 3px solid#ed9349;
  height: 500px;
  background: white;
  margin: 20px;
}
.dash-list h3{
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: underline;
  color: black;
}
.dash-list li{
  font-size: 20px;
  color: black;
  text-transform: uppercase;
  list-style: circle;
  padding: 20px;
}
