.nav-pane{
    display: flex;
    flex-direction: column;
    border: 1px solid #00A8A2;
    border-radius: 6px;
    width: 300px;
    height: 100vh;
    position: absolute;
    top: 140px;
    right:40px;
}

/*.profile-details{
 width: 250px; 
        height: 200px; 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        text-overflow: ellipsis; 
        align-items: center;
        padding: 15px;
        font-size: smaller;
}

div{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex-wrap: wrap;
            flex: 1 1 0; 
             align-items: center; 
            padding-bottom: 20px;
}

.profile-details img{
                width: 100px;
                height: auto;
                background-color: beige;
                border-radius: 50%;
            }*/
        